.Panel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.Panel.above {
    visibility: hidden;
    transform: translateY(-100%);
}

.Panel.below {
    visibility: hidden;
    transform: translateY(100%);
}
