@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/icon/font?kit=sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjzarEJYIZOUsm2ZhqQP4WJ6g&skey=70ddea8fe54d532e&v=v273)
        format("woff2");
}

.WarningIcon {
    --size: 24;
    --weight: 300;
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: calc(var(--size) * 1px);
    line-height: 0.8;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        "FILL" 0,
        "wght" var(--weight),
        "GRAD" 0,
        "opsz" var(--size);
}
