:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: grey;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:
        "Raleway",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
    color: var(--secondary-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
