.BreathingAnimationBox {
    position: relative;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    box-sizing: border-box;
}

.BreathingAnimationContainer {
    --max-size: 250px;
    width: 50vmin;
    height: 50vmin;
    max-width: var(--max-size);
    max-height: var(--max-size);
}

.BreathingAnimationDot {
    --size: 10%;
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.BreathingAnimationGradient {
    --gradient-color: rgba(0, 150, 255, 0.8);
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(var(--gradient-color), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid var(--secondary-color);
}
