.Settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SettingsContainer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-auto-flow: column;
}

.NotesContainer {
    position: relative;
    display: grid;
    grid-auto-flow: row;
}
