.Settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    column-gap: 5px;
    row-gap: 5px;
    max-width: 100vw;
    width: max-content;
}
