name: Test

# Controls when the workflow will run
on:
    pull_request:
        branches: ["**"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: "Set up "
              run: "npm ci --force"

            - name: Linter check
              run: npm run lint

            - name: Tests
              run: npm test
